<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @group_user.group_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @group_user.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @group_user.status %>
</p>

<%= link_to 'Edit', edit_group_user_path(@group_user) %> |
<%= link_to 'Back', group_users_path %>
