<p id="notice"><%= notice %></p>

<p>
  <strong>Object:</strong>
  <%= @interaction.object_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @interaction.user_id %>
</p>

<p>
  <strong>Is like:</strong>
  <%= @interaction.is_like %>
</p>

<p>
  <strong>Status:</strong>
  <%= @interaction.status %>
</p>

<%= link_to 'Edit', edit_interaction_path(@interaction) %> |
<%= link_to 'Back', interactions_path %>
